:root {
    --color-white-light: #ffffff;

    --color-black-dark: #181818;
    --color-black-light: #404040;

    --colors-light-blue: #2a8afa;
    --colors-middle-blue: #286dbd;
    --colors-dark-blue: #04428a;
}
