:root {
    --color-white-light: #ffffff;

    --color-black-dark: #181818;
    --color-black-light: #404040;

    --color-blue-light: #2a8afa;
    --color-blue-middle: #286dbd;
    --color-blue-dark: #04428a;
}
